/* Classes for the Roboto Font provided by Google Fonts */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  /* Styles for the landing page */

* {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    
}

/* Styles for the call to action page section */
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: #3882F6;
    display: flex;
    border: none;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 60px 90px;
    flex: 1;
    margin: 100px 130px;
}

.cta-text {
    display: flex;
    flex-direction: column;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 32px;
    text-decoration: none;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.cta-container .sign-up {
    border: solid #F9FAF8;
}

.cta-text h3 {
    font-size: 24px;
    padding: 0;
    margin: 0;

}

.cta-text p {
    padding: 0;
    margin: 0;
}

h1, h3, .logo, .cta-text {
    color: #F9FAF8;
}

/* Styles for header and hero page sections */
.page-top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 32px;
}

ul li a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    padding: 32px 130px 32px 130px;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 0;
    padding: 0px 130px 32px 130px;
    gap: 32px;
}

.hero-img-placeholder {
    height: 200px;
    max-width: 600px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;
    color: #E5E7EB;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
    justify-content: left;
    /* align-items: center; */
}

.hero-left p {
    color: #E5E7EB;
}

.hero-left .sign-up {
    border: none;
}

.hero-left {
    max-width: 600px;
    align-items: start;
}

/* Styles for Footer */
.footer {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    height: 100px;
}

/* Styles for quote */
.quote {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 40px 130px 40px 130px;
}

.quote .quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote .quote-person {
    text-align: end;
    font-weight: 700;
}

/* Styles for information section */
.info-content {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 48px 96px 48px;
    gap: 36px;
    justify-content: center;
  }

.info-img-placeholder {
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.card-one-text, .card-two-text, .card-three-text, .card-four-text {
    width: 200px;
    text-align: center;
    color: #1F2937;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}