/* Classes for the Roboto Font provided by Google Fonts */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  /* Styles for the landing page */

* {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    
}

/* Styles for the call to action segment */
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: #3882F6;
    display: flex;
    border: none;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 60px 90px;
    flex: 1;
    margin: 100px 130px;
}

.cta-text {
    display: flex;
    flex-direction: column;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 32px;
    text-decoration: none;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.cta-container .sign-up {
    border: solid #F9FAF8;
}

.cta-text h3 {
    font-size: 24px;
    padding: 0;
    margin: 0;

}

.cta-text p {
    padding: 0;
    margin: 0;
}

h1, h3, .logo, .cta-text {
    color: #F9FAF8;
}